<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="PageNoProvider" value="True"/>
    <add key="PageSizeProvider" value="True"/>
    <add key="HRISEvents.wsWebHrAdm1" value="http://localhost/WebHrAdm1/App_Services/wsWebHrAdm1.asmx"/>
    <add key="WebAuth.WebAuthorizationService" value="http://localhost/WebTools2/App_Services/WebAuthorizationService.asmx"/>
    <add key="UseLive" value="True"/>
    <add key="LiveAuth" value="7:19,7:132,24:135,24:140"/>
    <add key="TestAuth" value="7:19,7:132,24:135,24:140"/>
  </appSettings>
  <connectionStrings>
    <remove name="AspNetDBConnection"/>
    <add name="AspNetDBConnection" connectionString="Data Source=perk03;Initial Catalog=IJTPerks;Integrated Security=False;User Instance=False;Persist Security Info=True;User ID=sa;Password=isgec12345" providerName="System.Data.SqlClient"/>
    <add name="-AspNetDBConnection" connectionString="Data Source=.\LGSQL;Initial Catalog=IJTPerks;Integrated Security=False;User Instance=False;Persist Security Info=True;User ID=sa;Password=isgec12345" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <codeSubDirectories>
        <add directoryName="STD"/>
        <add directoryName="HRM"/>
      </codeSubDirectories>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" protection="None" timeout="50"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="AspNetDBConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="8" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add connectionStringName="AspNetDBConnection" name="AspNetSqlRoleProvider" type="system.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
    <sessionState cookieless="UseDeviceProfile" timeout="60"/>
    <httpRuntime executionTimeout="14400"/>
    <customErrors mode="RemoteOnly"/>
    <identity impersonate="false"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <globalization culture="en-GB" uiCulture="en-GB" requestEncoding="utf-8" responseEncoding="utf-8"/>
    <pages maintainScrollPositionOnPostBack="true" styleSheetTheme="Default">
      <controls>
        <add tagPrefix="AJX" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="RGV" namespace="LavaBlast.AJAX.GridViewResizeExtender" assembly="GridViewResizeExtender"/>
        <add tagPrefix="LGM" tagName="LoginLine" src="~/Sys_Controls/Login0.ascx"/>
        <add tagPrefix="LGM" tagName="LoginPage" src="~/Sys_Controls/Login1.ascx"/>
        <add tagPrefix="LGM" tagName="ChangePass" src="~/Sys_Controls/Login2.ascx"/>
        <add tagPrefix="LGM" tagName="ToolBar0" src="~/Sys_Controls/lgToolbar.ascx"/>
        <add tagPrefix="LGM" tagName="Informations" src="~/Sys_Controls/Controls/Informations.ascx"/>
        <add tagPrefix="LGM" tagName="LGLoading" src="~/Sys_Controls/lgLoading.ascx"/>
        <add tagPrefix="LGM" tagName="LGMessage" src="~/Sys_Controls/lgMessage.ascx"/>
        <add tagPrefix="LGM" tagName="LGAlert" src="~/Sys_Controls/lgAlert.ascx"/>
        <add tagPrefix="LGM" tagName="LC_hrmCompanies" src="~/HRM_Main/APP_FKControls/LC_hrmCompanies.ascx"/>
        <add tagPrefix="LGM" tagName="LC_hrmDivisions" src="~/HRM_Main/APP_FKControls/LC_hrmDivisions.ascx"/>
        <add tagPrefix="LGM" tagName="LC_hrmOffices" src="~/HRM_Main/APP_FKControls/LC_hrmOffices.ascx"/>
        <add tagPrefix="LGM" tagName="LC_hrmDepartments" src="~/HRM_Main/APP_FKControls/LC_hrmDepartments.ascx"/>
        <add tagPrefix="LGM" tagName="LC_hrmDesignations" src="~/HRM_Main/APP_FKControls/LC_hrmDesignations.ascx"/>
        <add tagPrefix="LGM" tagName="LC_hrmStatus" src="~/HRM_Main/APP_FKControls/LC_hrmStatus.ascx"/>
        <add tagPrefix="LGM" tagName="LC_hrmJoiningStates" src="~/HRM_Main/APP_FKControls/LC_hrmJoiningStates.ascx"/>
        <add tagPrefix="LGM" tagName="LC_hrmWorkingAreas" src="~/HRM_Main/APP_FKControls/LC_hrmWorkingAreas.ascx"/>
        <add tagPrefix="LGM" tagName="LC_hrmQualifications" src="~/HRM_Main/APP_FKControls/LC_hrmQualifications.ascx"/>
        <add tagPrefix="LGM" tagName="LC_hrmFunctionalStatus1" src="~/HRM_Main/APP_FKControls/LC_hrmFunctionalStatus1.ascx"/>
        <add tagPrefix="LGM" tagName="LC_hrmFunctionalStatus2" src="~/HRM_Main/APP_FKControls/LC_hrmFunctionalStatus2.ascx"/>
        <add tagPrefix="LGM" tagName="LC_hrmFunctionalStatus3" src="~/HRM_Main/APP_FKControls/LC_hrmFunctionalStatus3.ascx"/>
        <add tagPrefix="LGM" tagName="LC_hrmFunctionalStatus4" src="~/HRM_Main/APP_FKControls/LC_hrmFunctionalStatus4.ascx"/>
        <add tagPrefix="LGM" tagName="LC_hrmBloodGroups" src="~/HRM_Main/APP_FKControls/LC_hrmBloodGroups.ascx"/>
        <add tagPrefix="LGM" tagName="LC_hrmRatings" src="~/HRM_Main/APP_FKControls/LC_hrmRatings.ascx"/>
        <add tagPrefix="LGM" tagName="LC_hrmEmployees" src="~/HRM_Main/APP_FKControls/LC_hrmEmployees.ascx"/>
        <add tagPrefix="LGM" tagName="LC_hrmProjects" src="~/HRM_Main/APP_FKControls/LC_hrmProjects.ascx"/>
        <add tagPrefix="LGM" tagName="LC_hrmServeys" src="~/HRM_Main/APP_FKControls/LC_hrmServeys.ascx"/>
        <add tagPrefix="LGM" tagName="LC_hrmServeySheets" src="~/HRM_Main/APP_FKControls/LC_hrmServeySheets.ascx"/>
        <add tagPrefix="LGM" tagName="LC_hrmServeyQuestions" src="~/HRM_Main/APP_FKControls/LC_hrmServeyQuestions.ascx"/>
        <add tagPrefix="LGM" tagName="LC_hrmServeyThemes" src="~/HRM_Main/APP_FKControls/LC_hrmServeyThemes.ascx"/>
        <add tagPrefix="LGM" tagName="LC_taCategories" src="~/HRM_Main/APP_FKControls/LC_taCategories.ascx"/>
      </controls>
    </pages>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="leave@isgec.co.in">
        <network host="192.9.200.214" userName="leave" password="ijt123"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <defaultDocument>
      <files>
        <remove value="iisstart.htm"/>
        <remove value="index.html"/>
        <remove value="index.htm"/>
        <remove value="Default.asp"/>
        <remove value="Default.htm"/>
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="100000000"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0"/>
        <providerOption name="OptionInfer" value="true"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
</configuration>